.sc-7ovl44-40-50p {
    background-color: transparent;
    border-color: initial;
    color: rgb(143, 221, 210);
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0px;
    margin-left: 0.25rem;
}
